body{
    color: white;
    text-align: center;
}
/* Nav bar styling */
.nav {
    overflow: hidden;
    background-color: transparent;
    position: fixed;
    width: 100%;
    top: 0;
}
ul li{ 
    float: right;
}
a {
    display: inline-block;
    padding: .75rem;
    margin: 0;
    text-decoration: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
li:hover {
    border-bottom: 1px solid white;
}
  
/* nav classes */
.logo {
    float: left;
    border-radius: 50%;
    border: 1px solid white;
    font-weight: bold;
}

/* Styling for profile Card */
#propic {
    border: 1px solid black;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.card {
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    min-height: 55vh;
    padding-top: 25vh;
    background-color: rgb(6, 50, 68);
}
.title {
    color: grey;
    font-size: 18px
}
h1 {
    font-size: 25px;
}

/* Styling for porfolio */
.work {
    padding-top: 60px;
    margin-top: -60px;
}
.work .work-header {
    margin-top: 50px;
    color: #008080;
    font-weight: normal;
}
.project {
    text-decoration: none;
    color: #008080;
    display: inline-block;
    overflow: hidden;
    border: 2px solid lightblue;
    height: 220px;
    width: 280px;
    margin: 40px 100px;
}
.project-pic {
    width: 100%;
    height: 180px;
    border-bottom: 2px solid lightblue;
} 
.project-title {
    font-weight: bold;
}
/* Solid class attached on scroll past first section */
.solid {
    background-color: rgb(6, 50, 68);
    transition: color 1.5s ease 0s;
}
/* styling for about section */
#about {
    color: black;
}